.navBar1 {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.navBar1 img {
  margin-right: 21px;
  margin-left: 2%;
}

.navBar1 input[type="text"] {
  flex: 1;
  padding: 7px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid rgb(46, 45, 45);
  outline: none;
  font-size: 0.8rem;
}

.navBar1 select {
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  /* border: 1px solid rgb(46, 45, 45); */

}

.navBar1 button {
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  background-color: #f41d28;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  margin: 8px;
}

.navBar1 svg {
  cursor: pointer;
  color: rgb(46, 45, 45);
  background: #fff;
}